{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="http://textae.pubannotation.org/lib/css/textae.min.css" />
    <script src="http://textae.pubannotation.org/lib/textae.min.js"></script>
    <title>MELKE WEB ANNOTATION</title>
	<style>
		
	</style>
</head>
<header class="container">
</header>
<body>
    {% include 'header.html' %}
    <div class="container mb-5">
        {% if result %}
            <div class="row">
                <div class="textae-editor" style="width: 75%; border-style: none;" mode="edit" style="border-style:none;">
                    {{ doc_list }}
                </div>
                <div class="mt-5 ml-2">
                    <form action="filter" method="get">
                        <div class="card">
                            <div class="card-body">
                                <div class="mb-3"><h6 class="card-subtitle text-muted text-center">Entity Type</h6></div>
                                <fieldset class="form-group">
                                    <div>
                                        <!--['GENE', 'COMPOUND', 'PHENOTYPE', 'BIOLOGICAL PROCESS', 'MOLECULAR FUNCTION', 'TISSUE', 'ORGAN', 'CELL', 'HERB']!-->
                                        <div class="form-check">
                                            <input class="form-check-input text-muted" type="checkbox" name="entityType" id="gridCheck2" value="GENE" {% if  GENE %}checked {% endif %}>
                                            <label class="form-check-label text-muted" for="gridCheck2">GENE</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input text-muted" type="checkbox" name="entityType" id="gridCheck2" value="COMPOUND" {% if  COMPOUND %}checked {% endif %}>
                                            <label class="form-check-label text-muted" for="gridCheck2">COMPOUND</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input text-muted" type="checkbox" name="entityType" id="gridCheck2" value="PHENOTYPE" {% if  PHENOTYPE %}checked {% endif %}>
                                            <label class="form-check-label text-muted" for="gridCheck2">PHENOTYPE</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input text-muted" type="checkbox" name="entityType" id="gridCheck2" value="BIOLOGICAL_PROCESS" {% if  BIOLOGICAL_PROCESS %}checked {% endif %}>
                                            <label class="form-check-label text-muted" for="gridCheck2">BIOLOGICAL PROCESS</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input text-muted" type="checkbox" name="entityType" id="gridCheck2" value="MOLECULAR_FUNCTION" {% if  MOLECULAR_FUNCTION %}checked {% endif %}>
                                            <label class="form-check-label text-muted" for="gridCheck2">MOLECULAR FUNCTION</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input text-muted" type="checkbox" name="entityType" id="gridCheck3" value="TISSUE" {% if  TISSUE %} checked {% endif %}>
                                            <label class="form-check-label text-muted" for="gridCheck3">TISSUE</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input text-muted" type="checkbox" name="entityType" id="gridCheck4" value="ORGAN" {% if  ORGAN %} checked {% endif %}>
                                            <label class="form-check-label text-muted" for="gridCheck4">ORGAN</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input text-muted" type="checkbox" name="entityType" id="gridCheck4" value="CELL" {% if  CELL %} checked {% endif %}>
                                            <label class="form-check-label text-muted" for="gridCheck4">CELL</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input text-muted" type="checkbox" name="entityType" id="gridCheck4" value="HERB" {% if  HERB %} checked {% endif %}>
                                            <label class="form-check-label text-muted" for="gridCheck4">HERB</label>
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="text-center mt-3"><button class="btn btn-outline-secondary" type="submit" value="Submit">Search</button></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        {% else %}
            <div class="container mb-5">
                <div class="alert alert-secondary" role="alert">
                    No Results
                </div>
            </div>
        {% endif %}
	</div>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
<footer class="container">
</footer>
</html>
